<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>一心理测评</title>
	</head>
	<body>
    <p><%= code %></p>
    <script>
      // function getQueryString(name){
      //     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      //     var r = window.location.search.substr(1).match(reg);
      //     if (r != null) {
      //         return unescape(decodeURIComponent(r[2]));
      //     } else return null;
      // }

      // var code = getQueryString(code);
      // var redirecturl = getQueryString(redirecturl);

      // {{=param.id || ""}}
      // console.log(code,redirecturl);
      // window.location.href = redirecturl + '?code=' + code;
    </script>
	</body>
</html>